<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div style="text-align: center;">
    <h1>{{title}}</h1>
</div>

<div style="display: flex; text-align: center;">
    <div style="flex: 1; text-align: center;">
        <ul *ngFor="let task of tasksArray; let i = index">
            <div>{{ i + 1 }}) {{ task }}</div>
            
        </ul>
    </div>

    <div style="flex: 1; text-align: center;">
        <input type="text" placeholder="Add a task" [(ngModel)]="task" id="taskInput" class="input"/>
        <button (click)="addTask()" class="button" onmouseover="this.style.backgroundColor='#cccccc';" 
        onmouseout="this.style.backgroundColor='#f3f6f4';">add</button>

        <br>

        <input type="text" placeholder="Delete a task" [(ngModel)]="taskId" id="taskDelete" class="input"/>
        <button (click)="deleteTask()" class="button" onmouseover="this.style.backgroundColor='#cccccc';" 
        onmouseout="this.style.backgroundColor='#f3f6f4';">delete</button>

        <br>

        <button (click)="deleteAllTask()" type="button" class="biggerButton" onmouseover="this.style.backgroundColor='#cccccc';" 
        onmouseout="this.style.backgroundColor='#f3f6f4';">Clear all tasks</button>
    </div>
</div>
